.inner-container{
    gap: 1.5rem;
    background-image:  linear-gradient(to right,
     rgba(66, 134, 244, 0.8), rgba(66, 134, 244, 0.7)),url('/public/images/g1.jpg');
    padding: 2rem;
    border-radius: 10px;
    border: 6px solid #7991e7;
    text-align: center;

}
.inner-container .primaryText{
    color: white;
    font-weight: 600;
}
.inner-container .secondaryText{
    color: rgba(255, 255, 255, 0.587);
}