.hero_wrapper{
    color: white;
    position: relative;
    padding-bottom: 2rem;
    background: url('/public/images/banner-bg.png'), linear-gradient(to right, #4286f4, #373B44);
    background-repeat: no-repeat;

}
   
.hero_container{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}
/* right side */
.image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 8px solid rgba(20, 55, 116, 0.915);
    
   
    animation: changeImage 30s linear infinite;
    background-size: 100% 100%;
    box-shadow: 6px 6px 28px 2px rgba(0,0,0,0.6);
    
}
@keyframes changeImage {
    0%{
        background-image: url(../../../public/images/image2.jpg);
    }
    25%{
        background-image: url(../../../public/images/image3.jpg);
    }
    50%{
        background-image: url(../../../public/images/image4.jpg);
    }
    75%{
        background-image: url(../../../public/images/image5.jpg);
    }
    100%{
        background-image: url(../../../public/images/image6.jpg);
    }
}
/* .image-container>img{
    width: 100%;
    height: 100%;
    animation: changeImage 20s linear infinite;

} */

/* left side */
.hero_left{
    gap: 3rem;
}
.hero-title{
    position: relative;
    z-index: 1;
}
.hero-title>h1{
    font-weight: 600;
    font-size: 3.8rem;
    line-height: 4rem;
    color: #efefef;
}
.orange-circle{
    width: 4rem;
    height: 4rem;
    background:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
    border-radius: 99px;
    position: absolute;
    right: 28%;
    top: -10%;
    z-index: -1;
}
.search-bar{
    background-color: white;
    border-radius: 5px;
    border: 3px solid rgba(120,120,120,0.374);
    padding: 0.5rem 1rem;
    justify-content: space-between;
    width: 100%;
}
.search-bar>input{
    border: none;
    outline: none;

}
.stats{
    width: 100%;
    justify-content: space-between;
}
.stat>:nth-child(1){
    font-size: 2rem;
}
.stat>:nth-child(1)>:last-child{
    color: #034078;
}
@media (max-width:640px) {
    .hero_container{
        /* margin-top: 2rem; */
    }
    .hero-title>h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .image-container{
        width: 20rem;
        height: 25rem;
        /* margin-left: 5px; */
    }
    .hero_right{
        width: 100%;;
    }
    .stats{
        justify-content: center;
        gap: 1.5rem;
    }
    .stat>:nth-child(1){
        font-size: 1.5rem;
    }
    .stat>:nth-child(2){
        font-size: 0.8rem;
    }

    
}