.c-image-container{
    width: 30rem;
    height: 35rem;
    overflow: hidden;
    border-radius: 15rem 15rem 0 0;
    border: 4px solid rgba(232 232 232 / 93%);
    
   
    animation: changeImage 30s linear infinite;
    background-size: 100% 100%;
    box-shadow: 6px 6px 28px 2px rgba(0,0,0,0.6);
    
}
.c-image-container>img{
    width: 100%;
    height: 100%;
    animation: changeImage 20s linear infinite;

}
.c-container{
    justify-content: space-between;
    gap: 8rem;
}
.c-container>div{
    flex: 1;
}
.c-right{
    width: 100%;
}
.c-left{
    gap: 0.5rem;
}
.contactModes{
    margin-top: 2rem;
    gap: 1rem;

}
.contactModes .row{
    gap: 1.5rem;
}
.mode{
    width: 16rem;
    padding: 1rem;
    border: 0.8px solid rgba(128,128,128,0.143);
    border-radius: 5px;
    gap: 1rem;
    transition: all 300ms ease-in;
}
.mode .button{
    width: 100%;
    background: var(--lightBlue);
    color: #001f54;
    font-size: 0.9rem;
    font-weight: 600;
}
.mode>:nth-child(1){
    width: 100%;
    gap: 1.6rem;
}
.mode .detail .primaryText{
    font-size: 1.1rem;
    font-weight: 600;
}
.mode:hover{
    scale: 1.1;
    box-shadow: var(--shadow);
}
.mode .button:hover{
    background: #001f54;
    color: #dddbf1;
    scale: 0.8;
}
@media (max-width:1024px) {
    .c-container{
        flex-direction: column;
    }
    .c-right{
        justify-content: center;
    }
    .contactModes{
        width: 100%;
    }
    .row{
        flex-direction: column;
        width: 100%;
    }
    .mode{
        width: 100%;
    }
    .c-image-container{
        width: 20rem;
        height: 25rem;
    }
    
}